= javascript_include_tag "init/food_init"

%h3= t('menu.title')

%div

#menu.row
  .span8
    .days
    %button.btn.add-day Add day
  .span4
    %div.sidebar{"data-spy" => "affix", "data-offset-top" => "80"}
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => '#meal_list'} Meals
        %li
          %a{"data-toggle" => "tab", :href => '#product_list'} Products
        %li
          %a{"data-toggle" => "tab", :href => '#dish_list'} Dishes
      .tab-content
        #meal_list.tab-pane.active
        #product_list.tab-pane.tree
        #dish_list.tab-pane.tree