.menu {
  h3 {
    margin-top: 0 !important;
  }
  .day {
    .panel-body {
      .entity-3 {
        border: none;
        background-color: transparent;
      }
    }
  }
  .tab-pane {
    display: block !important;
  }
  .summary, .products {
    page-break-before: always;
  }
}

.body {
  padding-top: 0 !important;
  .navbar {
    display: none !important;
  }
  .content {
    padding: 0 !important;
    margin: 0 !important;
  }
}

@page
{
  size: auto;   /* auto is the current printer page size */
  margin: 2cm 0mm;  /* this affects the margin in the printer settings */
}
