= javascript_include_tag "init/home_init"
.grid
  .row
    .col-md-1
      %a.btn.prev{href: "#"}
        %i.glyphicon.glyphicon-chevron-left
    .col-md-6.calendar-header
      = title t('trips_calendar')
      %span#trips_qty
    .col-md-1
      %a.btn.next.pull-right{href: "#"}
        %i.glyphicon.glyphicon-chevron-right
  .row
    #calendar.col-md-8
    #filters.col-md-4
    #trips.col-md-4
      %h4.trips-header
        %span= t('account.trips')
        %button.close ×
      .trips-body
