.row
  .col-md-8
    %h3= title t('about.title')
    
    = image_tag "ttaday.jpg", {class: "pull-right"}

    %p
      В мене виникла ідея зробити сайт де б кожен міг описати свій похід,
      задати дати, одним словом організувати похід, знайти учасників. Та й так
      кожен рік вирішуєш одні і ті ж питання, хто йде, в кого що є, в кого чого
      не вистачає, в кого який досвід походу і т.д. Хочеться мати сторінку де буде список учасників,
      обговорення, загальна інформація...

    %p
      Будь-які ідеї/зауваження надсилайте за контактами справа або в коментарях.

  .col-md-4
    #developers
      %h4= t('about.contacts')
      %p
        %b Taras Taday
        %br/
        skype: matera.ttp
        %br/
        email: human.ttp(собака)gmail.com

.row
  .col-md-8
    #disqus_comments
      = render 'shared/disqus', page_url: about_url, page_id: 'about'
