.row-fluid
  .span8
    %h3= t('about.title')
    %p
      Всім привіт, мене звати <b>Тарас</b>, я веб розробник і турист.

    %p
      Цього року я задався проблемою пошуку походів/учасників в похід оскільки
      вирішив взяти відпустку на все літо і відпочити в горах. Раніше завжди ходили
      своєю компанією і такої проблеми саме в мене не було.

    %p
      В мене виникла ідея зробити сайт де б кожен міг описати свій похід,
      задати дати, одним словом організувати похід, знайти учасників. Та й так
      кожен рік вирішуєш одні і ті ж питання, хто йде, в кого що є, в кого чого
      не вистачає, в кого який досвід походу і т.д. Хочеться мати сторінку де буде список учасників,
      обговорення, загальна інформація...

    %p
      Зараз все на стадії бети(чорновика) але вже можна уявити, що він
      собою являє і внести ідеї/зауваження, мої контакти справа. Я можу бути у поході
      і одразу не відповісти.

    %h5 Про розробку
    %p
      Зазвичай в туризмі досить багато розробників, я був би радий якщо хтось хоче
      долучитись до розробки.
    %p
      Розробка ведеться в приватному репозиторії на github,
      хоститься на DigitalOcean.
      %br/
      Технології: rails, backbone.js, bootstrap, mysql.
    %p
      Сам я перед цим писав на php, зараз довгий час на фронтенді(javascript),
      в рейлс новенький і по ходу вивчаю і пишу.

    %p
      Вибачайте якщо сайт впаде, буде офлайн, чи будуть помилки, зараз це лише чорновик.

  .span4
    #developers
      %h5= t('about.contacts')
      %p
        %b Taras Taday
        %br/
        skype: matera.ttp
        %br/
        email: human.ttp собака gmail.com