= javascript_include_tag "init/home_init"
.grid
  .row-fluid
    .span1
      %a.btn.prev{href: "#"}
        %i.icon-chevron-left
    .span6.calendar-header= t('trips_calendar')
    .span1
      %a.btn.next.pull-right{href: "#"}
        %i.icon-chevron-right
  .row-fluid
    #calendar.span8
    #filters.span4
    #trips.span4.x-hidden
