= stylesheet_link_tag "print/menu", :media => "print"

%h3
  = title @menu.name
  -if !user_signed_in? && can_edit?
    .btn-group.btn-group-xs.pull-right.hidden-print
      %a.btn.btn-default{href: guest_menu_edit_path(@menu), title: t("helpers.links.edit")}
        %i.glyphicon.glyphicon-edit.edit
        = t("helpers.links.edit")

= render :partial => 'menu'