$hover_color: #ffa;

@mixin invisible-toolbar {
  .toolbar {
    opacity: 0;

    &.focus {
      opacity: 1;
    }
  }
  &:hover {
    .toolbar {
      opacity: 1;
    }
  }
}

.menu {
  .fields {
    margin-bottom: 3px;
    .col {
      overflow: hidden;
      line-height: 32px;
    }
    label {
      margin-right: 10px;
      margin-bottom: 0;
    }
    .users_count {
      width:  60px;
    }
    .is_public {
      margin-top: 10px;
    }
  }
  input.transparent {
    border-color: #f7f7f7;
    background-color: #f7f7f7;
    box-shadow: none;
    margin: 0 0 0 5px;
    padding: 0;
    text-align: center;
    width: 50px;
    height: 18px;
    display: inline-block;

    &:focus, &:hover {
      background-color: #fff;
      border: 1px solid #ccc;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
      transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    }
  }
  input.error {
    border-color: #f00;
  }

  button.add-day {
    margin-right: 5px;
    margin-bottom: 8px;
  }
  .days {
    .tab-content {
      min-height: 100px;
    }
  }
  .day {
    min-height: 30px;
    margin: 5px 0;

    .print-block {
      display: none;
    }
    .twitter-typeahead input {
      font-size: 12px;
      height: 22px;
      padding: 1px 5px;
      display: inline-block;
      line-height: 1.5;
      &.tt-query {
        background-color: #fff;
      }
    }

    .bootstrap-select {
      margin-bottom: 0;
      width: 230px;
      .dropdown-toggle {
        padding: 1px 3px;
      }
    }

    .panel-heading {
      line-height: 25px;
      padding: 5px 15px;
      @include invisible-toolbar;
    }

    &.ui-state-active .panel-body {
      background-color: $hover_color;
    }
    .panel-body {
      > .entity {
        border: 1px solid #ebebeb;
      }
      .entity {
        background-color: #fff;
        border-radius: 4px;
        margin: 1px;

        &.ui-state-active {
          background-color: $hover_color;
        }

        > .header {
          @include invisible-toolbar;
        }
        .entity {
          margin-left: 20px;
        }

        .entity-weight {
          margin-left: 8px;
        }

        .porter {
          margin-left: 10px;
        }
      }
      .entity-1, .entity-2 {
        padding: 0px 5px 3px 3px;
        min-height: 30px;
        > .header .entity-name {
          font-weight: bold;
        }
      }
      .entity-1 {
        border: 1px solid #ddd;
        min-height: 40px;
        margin: 2px 1px;
      }
      .entity-3 {
        background-color: #f7f7f7;
        padding: 1px;
        border: 1px solid #ebebeb;
      }
    }

    .panel-footer {
      table {
        margin-bottom: 0;
      }
    }
    .toolbar {
      display: inline-block;
    }
  }
}

.sidebar {
  &.affix {
    top: 60px;
  }
  .tab-pane {
    max-height: 430px;

    .product, .dish, .meal {
      cursor: move;
    }
  }
}

body.menus, body.partitions {
  &.show .content {
    .nav, .count_info {
      margin-bottom: 10px;
    }
  }
}

.tree {
  overflow: auto;
  position: relative;

  li.category {
    list-style: none;
    .category-name {
      margin-left: 5px;
    }

    .glyphicon-folder, .category-name {
      cursor: pointer;
    }
    .glyphicon-info-sign {
      margin-left: 5px;
      cursor: default;
    }

    ul.items {
      display: none;
    }

    &.expanded ul.items {
      display: block;
    }
  }
}

#form_users_count {
  display: inline-block;
  input {
    width: 80px;
  }
}

.editable-click {
  cursor: pointer;
}

#partition_porters {
  .glyphicon {
    cursor: default;
  }
  .panel-heading {
    .today_total, .total {
      width: 60px;
      text-align: right;
      display: inline-block;
    }
  }
  .panel-body {
    table {
      width: 100%;

      td {
        padding: 2px 0;
      }

      td.today_total, td.total {
        width: 60px;
        text-align: right;
      }
      td.today_total {
        span {
          padding-right: 3px;
        }
      }
      .product_use_count {
        margin-left: 3px;
      }
    }
  }
}

.entity {
  // porters dropdown
  .porters-dropdown {
    background-color: #fff;
    position: absolute;
    right: 0;
    min-width: 230px;
    z-index: 2;

    .porter:hover {
      background-color: #f5f5f5;
    }

    .porter {
      .total, .today_total {
        width: 60px;
      }

      > span {
        display: inline-block;
      }

    }
    tr {
      .name {
        width: 150px;
        display: inline-block;
      }
    }
  }

  .entity-porters {
    .btn-group {
      margin: 0 1px;
    }
  }

  li {
    i.glyphicon {
      margin-right: 3px;
    }
  }
}