#products-grid {
  .product {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #e3e3e3;
    overflow: hidden;

    .img-thumbnail {
      margin-right: 10px;
      width: 64px;
    }
  }
}
.product-img {
  max-width: 640px;
  img {
    max-height: 480px;
  }
}
