!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      Hi #{@user.name},
    %p
      It's just a notification that you have received new join request for trip "#{@trip.track.name}".
      %br
      Full trip details are available by url:
      %br
      %a{href: trip_url(@trip.id)}= trip_url(@trip.id)

    %p
      Thank you for using our service,
      %br
      Regards,
      %a{href: root_url} pohody.com.ua