!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p= t('trip_join_mailer.leave_email.user_left_trip', name: @user.name) + ':'
    = render 'trip_join_mailer/trip_info', formats: [:html]
    = render 'shared/email_footer', formats: [:html]
