/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./libs
 *= require_tree ./all
*/
@import "bootstrap/bootstrap";
@import 'font-awesome';

body {
  padding-top: 60px;
}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

a.btn-primary:visited {
  color: white;
}
.simple_form {
  &.span9 {
    input, textarea {
      &.string, &.text {
        width: 510px;
      }
    }
  }
}

table {
  th.sortable {
    &:after {
      border-color: #000000 transparent;
      border-style: solid;
      border-width: 0 4px 4px;
      content: "";
      float: right;
      margin-top: 7px;
      visibility: hidden;
    }
    &.headerSortUp, &.headerSortDown {
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    }
    &:hover:after {
      visibility: visible;
    }
    &.headerSortDown:after, &.headerSortDown:hover:after {
      opacity: 0.6;
      visibility: visible;
    }
    &.headerSortUp:after {
      border-color: #000000 transparent -moz-use-text-color;
      border-style: solid solid none;
      border-width: 4px 4px medium;
      box-shadow: none;
      opacity: 0.6;
      visibility: visible;
    }
  }
}

.x-hidden {
  display: none;
}

.twitter-typeahead {
  .tt-hint {
    @extend .form-control;
    color: #aaa;
  }
}

.nav-tabs {
  margin-bottom: 15px;
}
a.glyphicon {
  text-decoration: none;
}

h4, h5, h6 {
  font-weight: bold;
}