#menu {
  .days {
    .day {
      min-height: 30px;
      border-radius: 5px;
      margin: 5px 0;
      padding: 5px;
      background-color: #fff;
      position: relative;

      .header {
        .icon-remove {
          position: absolute;
          top: 3px;
          right: 5px;
        }
      }

      .body {
        .entity-meal, .entity-dish {
          .entity-name {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.sidebar {
  &.affix {
    top: 60px;
  }
  .tab-content {
    max-height: 430px;

    .product, .dish, .meal {
      cursor: move;
    }
  }
}

#product_list {
  overflow: auto;
  position: relative;

  li.category {
    .category-name {
      cursor: pointer;
    }

    ul.products {
      display: none;
    }

    &.expanded ul.products {
      display: block;
    }
  }
}