#menu {
  .days {
    .day {
      min-height: 30px;
      border-radius: 5px;
      margin: 5px 0;
      padding: 5px;
      background-color: #fff;
      position: relative;

      .header {
        .icon-remove {
          position: absolute;
          top: 3px;
          right: 5px;
        }
      }

      .body {
        .entity-meal, .entity-dish {
          > .entity-name {
            font-weight: bold;
          }
        }
        .entity {
          .icon-remove {
            opacity: 0;
          }
          &:hover > .icon-remove {
            opacity: 1;
          }
          .entity {
            margin-left: 10px;
          }
        }
      }
      .ui-state-active {
        background-color: #ffa;
      }
    }
  }
}

.sidebar {
  &.affix {
    top: 60px;
  }
  .tab-content {
    max-height: 430px;

    .product, .dish, .meal {
      cursor: move;
    }
  }
}

.tree {
  overflow: auto;
  position: relative;

  li.category {
    list-style: none;
    .category-name {
      margin-left: 5px;
      cursor: pointer;
    }

    ul.items {
      display: none;
    }

    &.expanded ul.items {
      display: block;
    }
  }
}