.grid {
  .calendar-header {
    font-weight: bold;
    font-size: 12pt;
    text-align: center;
  }
}
#calendar {
  overflow: hidden;

  .month {
    background-color: #fff;
    min-height: 100px;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 10px;

    .calendar {
      width: 100%;

      .otherMonth {
        color:  #fff;
        font-size: 0;
      }
      .day {
        text-align: center;
        font-size: 16px;
        vertical-align: top;
        border-color:  #f0f0f0;
        border-style: solid;
        border-width: 1px 1px 0 0;

        $slices_image: "calendar_slices.png";
        $highlight_color: #c1e0aa;
        &.track {
          background-image: url($slices_image);
          background-repeat: repeat-x;
          background-position: center -60px;

          &.start-day.selected {
            background-repeat: no-repeat;
            background-position: center 29px;
          }

          &.end-day {
            background-repeat: no-repeat;
            background-position: center -15px;
          }

          &.highlight, &.highlight.selected {
            background-color: $highlight_color;
          }
        }

        &.today {
          background-color: #ffb;
        }
        &.passed * {
          opacity: 0.7;
        }

        &.start-day .day-wrapper {
          background: url("calendar_slices.png") no-repeat center -118px;
          border-radius: 5px;
          cursor: pointer;
        }

        .day-wrapper {
          position: relative;
          height: 39px;
          line-height: 39px;

          .day-num {
            font-size: 10px;
            height: 10px;
            line-height: 10px;
            position: absolute;
            right: 2px;
            top: 2px;
          }

          .end-day-num {
            position: absolute;
            right: 2px;
            bottom: 2px;
            height: 10px;
            line-height: 10px;
            font-size: 10px;
            color: red;
          }

          .events-count {
            position: absolute;
            left: 0;
            top: 0;
            color: #fff;
            display: block;
            font-size: 10px;
            font-weight: bold;
            line-height: 10px;
            padding: 1px 2px;
            background-color: #2C7025;
            border-radius: 3px;
          }
        }

      }

      tbody {
        td {
          height: 40px;
          width: 14%;
        }
      }
    }
  }
}

#trips {
  background-color: #fff;
  border-radius: 3px;
  margin-top: 10px;

  .trips-header {
    padding-left: 15px;
    padding-right: 10px;
  }

  .trips-body {
    padding: 0 15px;
    .trip {
      margin-bottom: 5px;
      font-size: 12px;
  
      .name {
        font-weight: bold;
        margin-right: 8px;
      }
    }
  }
}

.grid #trips {
  display: none;
}

#filters {
  .regions {
    padding-left: 10px;
    label {
      display: inline;
      margin-right: 8px;
    }
    input {
      margin: 0 5px 0 0;
    }
    .count {
      color: grey;
    }
  }
}