!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      Додано нове меню:
      %br
      = @menu.name
      %br
      = link_to 'View', menu_share_path(@menu)
      |
      = link_to 'Edit', guest_menu_edit_path(@menu)